@font-face{
	font-family:'fontawesome';
	src:url(../fonts/fontawesome-webfont.woff);
}
@font-face{
	font-family:'Open Sans';
	src:url(../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2);
}
body{
	margin:0;
	font-family:arial;
}
#log_in{
	width:100%;
	height:320px;
	position:fixed;
	top:20%;
	left:0;
	background-color:#eaeaea
}
#log_in div{
	width:400px;
	background:#464646;
	margin:0 auto;
	text-align:center;
	padding:30px 10px;
	margin-top:33px;
}
#log_in h2{
	font-size: 20px;
	font-weight:300;
	margin:0px 10px 10px 20px;
	color: #9dc02e;
	font-family: Open Sans;
}
#log{
	color: #262626;
	font-family: Open Sans;
	width:85px;
	font-weight:500;
}
#admin_error{
	text-align:center;
	margin-top:20px;
	color:red;
}
/**********************************/
#header{
	width:100%;
	height:90px;
	background-color:#464646;
	color:#fff;
	padding:2px;
}
.center{
	margin:0 auto;
	width:1170px;
	text-align:center;
	
}
#header a{
	text-decoration:none;
	color:#fff;
	margin:0;
	display:inline-block;
	height:100%;
	border-left:1px solid #767676;
	border-right:1px solid #767676;
	width:150px;
	font-family:Open Sans;
	font-size:22px;
	-webkit-transition:all ease .4s;
}
#header a:hover{
	color:#9dc02e;
}
.title{
	font-weight: 300;
	margin:20px 10px 0 20px;
	color: #464646;
	font-family:Open Sans;
	font-size: 35px;
	display:block
}
#about_comp_img{
	width:35%;
	float:left;
	height:250px;
	border:1px dashed #767676;
	padding:10px;
	margin-left:20px;
}
#about_comp_text{
	width:50%;
	float:left;
	height:auto;
	padding:10px;
	border:1px dashed #767676;
	margin-left:10px;
}
.subtitle{
	line-height: 40px;
	font-weight: 300;
	margin:10px 10px 0 20px;
	color: #464646;
	font: normal 40px/48px Open Sans;
	font-size: 27px;
}
#about_comp_text input{
	width:250px;
}
#about_comp_text textarea{
	width:250px;
	height:90px;
}
#about_comp_text p{
	font-weight: 300;
	margin:10px 10px 0 20px;
	color: #464646;
	font-family:Open Sans;
	font-size:12px;
}
#about_comp_text button{
	margin:10px 10px 0 0;
	color: #464646;
	font-family:Open Sans;
	font-size:12px;
	width:90px;	
}
#company_img{
	width:200px;
	height:200px
}
.container{
	width:99.5%;
	overflow:auto;
	//border:1px solid red
}

#zoomed{
	position:relative;
	width:50%;
	background:#eaeaea;
	top:5%;
	left:24.2%;	
	cursor:pointer;
	z-index:200;
}
#popup{
    position:fixed;
    background-color:rgba(18, 18, 18, 0.75);
    width:100%;
    height:100%;
    z-index:598;
    top:0;
    left:0;
    display:none;
    opacity:0;
    -webkit-transition:all ease .45s;
}
#zoom_img{
	width:100%;
}
#close_zoom{
	position:absolute;
	bottom:100%;
	right:0;
	color:#fff;
	opacity: 0.65;
	font-size: 20px;
	font-family: Arial, Baskerville, monospace;
	cursor:pointer;
	-webkit-transition:all ease .2s;
}
#close_zoom:hover{
	opacity:1;
}
.block{
	display:block !important;
	opacity:1 !important;
}
