@font-face{
	font-family:'fontawesome';
	src:url(../fonts/fontawesome-webfont.woff);
}
@font-face{
	font-family:'Open Sans';
	src:url(../fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2);
}
body{
	margin:0;
	font-family:arial;
}
#logo_container{
	clear: both;
	/*position:relative;*/
/*	border:1px solid blue;*/
	width:100%;
	height:277px;
	text-align:center;
	z-index:100;
	background-color:#fff;
	padding-top: 55px;
}
#logo{
	margin:auto;
	margin-top:80px
}
#menu_all{
	/*position:relative;*/
	/*border:1px dashed yellow;*/
	width:100%;
	height:108px;
	top:0;
}
#menu_container{
	/*position:relative;*/
	padding: 0;
	height:108px;
	top:0;
}
#menu{
	height:100%;
	margin:0 auto 0 auto;
	overflow:hidden;
    display: -webkit-flex;
    display: flex;
}
#active_menu{
    background: #ffffff;
    color: #2b2b2c;
}
.menu_elem{
	position:relative;
	float:left;
    width:100%;
	height:100%;
	border-right:1px solid #2b2b2c;
	background:#464646;
	color:#fff;
}
#menu .menu_items {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.menu_elem:before{
	position: absolute;
	display: block;
	width: 100%;
	height: 200%;
	top: -200%;
	right:0;
	content:"";
	opacity:0.4;
	background:linear-gradient(to top,#ffffff,#48474d);
	-webkit-transition: all .4s ease-in-out;
}
.menu_elem:after{
	position: absolute;
	display: block;
	width: 100%;
	height:14px;
	bottom:-14px;
	background:#fff;
	content:"";
	opacity:0; 
	-webkit-transition: all 0.2s ease-in-out;
}
.menu_text{
	position:relative;
	display:block;
	width:100%;
	height:100%;
	top:40%;
	text-align:center;
    text-transform: uppercase;
	-webkit-transition:all ease 0.4s;
}
.menu_hover{
    text-transform: uppercase;
	position:relative;
	top:40%;
}
.menu_text_hover{
	position:absolute;
	display: block;
	width: 100%;
	height:100%;
	color:#31353d;
	text-align:center;
	top:-200%;
	background:#fff;
	opacity:0;
	-webkit-transition:all ease 0.4s;
}
.menu_elem:hover:before{
	top:0;
}
.menu_elem:hover:after{
	bottom:200%;
	opacity:1;
}
.menu_elem:hover .menu_text{
	top:200%;
} 
.menu_elem:hover .menu_text_hover{
	top:0px;
	opacity:1;
}
.sub_menu{
	background:#464646;
	position:absolute;
	width:100%;
	height:65px;
	z-index:100;
	padding-top:30px;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.2s ease;
	-webkit-transition-delay:0.8s;
	transition-delay:0.8s;
}
.sub_a{
	position: relative;
	display:block;
	padding: 3px 0 2px 0;
	margin: 0 8px;
	text-align: center;
	font-size:14px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
}
.sub_a:hover{
	color: #4FC55A;
}
.menu_elem:hover .sub_menu{
	height:97px;
	opacity:1;
	visibility:visible;
	-webkit-transition: all 0.3s ease;
}
.navbar-default{
    display: none;
}
.navbar-toggle{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 17px;
}
.nav>li>a{
    padding: 30px 25px;
    font-size: 30px;
}
.nav{
    font-family: Open Sans;
    text-transform: uppercase;
}
#myNavmenu{
    background-color: #464646;
    color: #ffffff;
}
#myNavmenu .nav li{
    border-top: 1px solid #2b2b2c;
}
#myNavmenu .navmenu-brand{
    padding-bottom: 55px;
}
#myNavmenu .active a{
    background-color: #fff;
}
/*.for-mobile-menu-hover{*/
    /*height: 0;*/
    /*width: 100%;*/
    /*background-color: #fff;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*-webkit-transition: all 0.2s ease;*/
    /*transition: all 0.5s ease;*/
/*}*/
#myNavmenu .nav li a{
    color: #fff;
}
#myNavmenu .nav .active a{
    color: #555;
}
#myNavmenu .nav a:hover{
    color: #555;
    background-color: #dddddd;
    -webkit-transition: all 0.2s ease;
    transition: all 0.5s ease;
}
#myNavmenu .nav .active a:hover{
    background-color: #fff;
}
/*#myNavmenu .nav a:hover .for-mobile-menu-hover{*/
    /*height: 41px;*/
    /*color: #555;*/
/*}*/
.navbar{
    background-color: #464646;
    position: relative;
    margin: 0;
}



#work_hover{
	background:#4FC55A;
	position:absolute;
	width:100%;
	height:40px;
	top:50px;
	left:-104%;
	z-index:100;
	padding-top: 30px;
	opacity:0;
    visibility: hidden;
    display: none;
	-webkit-transition: all 0s ease;
	-webkit-transition-delay:0.8s;
	transition-delay:0.8s;
}
#work_hover:after{
	position:absolute;
	content:"";
	background:url(../img/arr_sm.png);
	background-repeat:no-repeat;
	display:block;
	width:100%;
	height:11px;
	top:13px;
	right:-100%
}
#work3:hover #work_hover{
	opacity:1;
    visibility: visible;
	height:77%;
	-webkit-transition: all 0.4s ease;
	-webkit-transition-delay:0s;
}
.sub_menu:hover #work_hover{
        display: block;
}
#work_hover a{
	position: relative;
	display:block;
	padding: 3px 0 2px 0;
	text-align: center;
	font-size:14px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: all 0.4s ease;
}
#work_hover a:hover{
	color:#48474d;
}
.fixed_menu{
	position:fixed !important;
	top:0 !important;
	height:51px !important;
	z-index:555;
	-webkit-transition:height .6s ease;
}
/***********************************/
#top{
	position:fixed;
	bottom:34px;
	right:15px;
	width: 70px;
	height: 70px;
	background: #555a5d;
	opacity:0;
	z-index:999;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
	-webkit-transition:all 0.5s ease;
}
#top:before{
	font: 22px/70px fontawesome;
	content:"\f077";
	font-family:"fontawesome";
	position: absolute;
	display: block;
	width: 70px;
	height: 70px;
	color: #fff;
	text-align: center;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari */
    transform: rotate(0deg);
    -webkit-transition:all 0.5s ease;
}
#top:hover{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
	background:#4FC55A;
}
#top:hover:before{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}
.top_op{
	opacity:1 !important
}
/*******************************/
#slide_container{
	position: relative;
	height:830px;
	width:100%;
	/*border:1px solid green;*/
	overflow:hidden;
	margin-top:-115px;
	z-index:-1;
}
#slide_imgs{
	position:absolute;
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size: cover;
	/*top:-124px;*/
	-webkit-transition:all ease 1s;
	/*background-image:url("../img/slide-1.jpg")
	top:-80px;;*/
}

/************************/

#slide{
	position:absolute;
	width:100%;
	background:#4FC55A;
	bottom:100%;
	z-index:10;
	color:#fff;
	font-size:60px;
	font-family: Open Sans, sans-serif;
}
#second{
	position: relative;
	height:180px;
	width:100%;
	/*border:1px solid red;*/
}
#slide_right, #slide_left{
	/*border:1px solid blue;*/
	/*height:49px;*/
	margin-top: 7%;
	cursor:pointer;
}
#slide_title{
    padding: 40px 0;
    text-align:center;
}
#slide_left:before{
	/*content: '\f053';*/
	font:42px fontawesome;
	font-family:"fontawesome";
	color:#fff;
	-webkit-transition:all ease .3s;
}
#slide_right:before{
	/*content: '\f054';*/
	font:42px fontawesome;
	font-family:"fontawesome";
	float:right;
	color:#fff;
	-webkit-transition:all ease .3s;
}
#slide_right:hover:before{
	color:#48474d;
}
#slide_left:hover:before{
	color:#48474d;
}
/******************/
#block_1{
	position:relative;
	min-height:100px;
	background-color:#ececec;
}
.grey_section{
    background-color: #ececec;
    padding: 70px 0;
}
.grey_section .col-sm-4{
    margin-bottom: 10px;
}
#block_1_abs{
	/*position:absolute;*/
	/*top:-50px;*/
	/*width:100%;*/
	/*visibility:hidden;*/
	/*opacity:0;*/
	/*-webkit-transition:all ease 1.2s;*/
}
.center{
	position:relative;
    padding:0;
}
#second h1{
	color: #48474d;
	text-align:center;
	font-size: 50px;
	line-height: 60px;
	margin-bottom: 51px;
	margin-top:80px;
	font-weight:300;
	font-family:'Open Sans'
}
.b{
	visibility:visible !important;
	opacity:1 !important;
	top:0 !important;
}
/***********************************/
.modern{
	/*position:relative;*/
	/*float:left;*/
	/*width:32%;*/
	/*margin-left:2%;*/
	background:#fff;
}
.modern_title a{
	color: #464646;
	text-decoration:none;
	/*-webkit-transition:all ease .5s*/
}
.modern_title a:hover{
	color: #4FC55A;
}
.modern_title{
	font-size: 40px;
	line-height: 40px;
	font-weight: 300;
	margin:47px 10px 28px 20px;
	text-transform: uppercase;
	color: #464646;
	font-family: Open Sans;
}
.modern h3{
	font: 300 20px/25px 'Open Sans', sans-serif;
	color: #4FC55A;
	margin-bottom: 15px;
	margin:37px 10px 0 20px
}
.modern h4{
	margin-left:20px;
	margin-right:19px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #bab9b9;
	margin-top:30px;
	margin-bottom:50px;
}
.more{
	position:absolute;
	/*top:100%;*/
}
.more_info{
	width:131px;
	height:59px;
	background-color:#48474d;
	color:#fff;
	font: 600 15px/20px 'Open Sans', sans-serif;
}
.more_info span{
	display:inline-block;
	position:absolute;
	top:18px;
	width:100%;
	text-align:center;
	z-index:100;
}
.more_info:after{
	position:absolute;
	width:100%;
	height:0;
	content:"";
	bottom:0;
	left:0;
	background-color:#4FC55A;
	z-index:1;
	-webkit-transition:all ease .4s;
}
.more_info:before{
	position:absolute;
	display: block;
	top:0;
	right:0;
	bottom:0;
	left:100%;
	width:60px;
	z-index:2;
	font:22px/63px FontAwesome;
	content:'\f054';
	background: #4FC55A;
	text-align:center;
	-webkit-transition:all ease .6s;
}
.more_info:hover:after{
	height:100%;
}
.more_container{
    height:59px;
}
.more_info:hover:before{
	background: #48474d;
}
.modern_img:before{
	position: absolute;
	left:-50%;
	top:48%;
	display:block;
	margin:0;
	height:0%;
	width:200%;
	background-color: #48474d;
	opacity:.8;
	content:"";
	transform: rotate(45deg);
	cursor:pointer;
	z-index:11;
	-webkit-transition:all ease .7s;
}
.modern_img:hover:before{
	height:310%;
	top:-102%;
}
.modern_img{
	position:relative;
	margin-left:0;
	left:0px;
	width:100%;
	overflow:hidden;
	-webkit-transition:all ease .5s;
}
.modern_img1{
	height:133.5px;
}

.zoom{
	cursor:pointer;
}
.modern_img img{
	width:100%;
	left:0;
	top:0;
	z-index:3;
	-webkit-transition:all ease .4s;
}
.modern_img:hover.modern_img img{
	  transform:scale(1.2);
}
.modern_img:after{
	position:absolute;
	content:"";
	top: 50%;
	left: 50%;
	width:44px;
	height:44px;
	margin-top:-22px;
	margin-left:-22px;
	background:url(../img/zoom-icon.png);
	background-repeat:no-repeat;
	z-index:17;
	visibility:hidden;
	opacity:0;
	transform:scale(2);
	-webkit-transition:all ease .45s;
}
.modern_img:hover:after{
	visibility:visible;
	opacity:1;
	transform:scale(1);
}
/***************************************/
#zoomed_container{
	position:fixed;
	background-color:rgba(18, 18, 18, 0.75);
	width:100%;
	height:100%;
	z-index:598;
	top:0;
	left:0;
	display:none;
	opacity:0;
	-webkit-transition:all ease .45s;
}
#zoomed{
	position:relative;
	width:50%;
	background:#515;
	top:5%;
	left:24.2%;	
	cursor:pointer;
	z-index:200;
        transform:scale(0.8);
        -webkit-transition:all ease .45s;
}
.scale{
    transform:scale(1) !important;
    -webkit-transition:all ease .2s;
}
#zoom_img{
	width:100%;
}
#close_zoom{
	position:absolute;
	bottom:100%;
	right:0;
	color:#fff;
	opacity: 0.65;
	font-size: 20px;
	font-family: Arial, Baskerville, monospace;
	cursor:pointer;
	-webkit-transition:all ease .2s;
}
#close_zoom:hover{
	opacity:1;
}
.block{
	display:block !important;
	opacity:1 !important;
}
/************************/
.round_imgs{
	position: relative;
	border-radius: 500px;
	cursor: pointer;
	width: 100%;
	height: 19vw;
	overflow: hidden;
}
.round_container{
	/*float:left;*/
	/*width:23%;*/
	/*margin-left:2.1%;*/
	/*margin-bottom:54px;*/
	/*-webkit-transition:all ease 0.5s;*/
}
.round_title{
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #464646;
	display:block;
	width:100%;
	margin-top:12px;
	opacity:0;
	cursor:pointer;
	-webkit-transition:all ease 0.5s;
}
.round_container:hover .round_title{
	opacity:1;
}
.round_title:hover{
	color: #4FC55A;
}
.round{
	position:relative;
}
.zoom_icon{
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	border-radius:500px;
	background-color:#4FC55A;
	width:71px;
	height:71px;
	z-index:16;
	overflow:hidden;
	-webkit-transition:all ease .3s;
}
#round_abs h1{
	margin-bottom:30px;
}
.zoom_icon:before{
	position:absolute;
	content:"";
	top: 50%;
	left: 50%;
	width: 19px;
	height: 19px;
	margin-top: -10px;
	margin-left: -10px;
	background:url(../img/zoom-icon2.png);
	background-repeat:no-repeat;
	z-index:22;
}
.round_container:hover .zoom_icon{
	right:35%;
	bottom:35%;
	
}
.zoom_icon:after{
	position: absolute;
	left: -50%;
	top: 48%;
	display: block;
	margin: 0;
	height: 0%;
	width: 200%;
	transform: rotate(45deg);
	background:#555;
	content: "";
	cursor:pointer;
	z-index:11;
	-webkit-transition:all ease .4s;
}
.round_container:hover .zoom_icon:after{
	height:100%;
	top:0;
}
#round_abs{
	/*position:absolute;*/
	/*top:60px;*/
	left:0;
    overflow: auto;
    padding:60px 0;
	/*width:100%;*/
	/*opacity:0;*/
	/*visibility:hidden;*/
	/*-webkit-transition:all ease .7s;*/
}
#block_2{
	/*height:480px;*/
}
/**************************************************/
.float_l{
	float:left;
}
#why_us{
	position:relative;
	width:24%;
	height:100%
}
#why_us_abs{
	position:absolute;
	top:0;
	left:0;
}
#why_us_abs img{
	margin-top:20px;
}
#why_us_abs h2{
	font: normal 20px/25px Open Sans;
	color: #464646;
}
#why_us_abs p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #bab9b9;
	margin: 0 0 24px 0;
	letter-spacing:0.5
}
.title_section{
	position:relative;
	padding:8px 0;
	width:100%;
	border-top:1px solid #ececec;
	border-bottom: 1px solid #ececec;
	margin-top:20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
#home{
	color: #4FC55A;
	text-decoration: none;
}
b{
	color: #464646;
}
.about{
	text-transform:uppercase;
}
.title_section a{
     text-decoration: none
}
#about_part1{
	position:relative;
	margin-top:40px;
	overflow:auto;
	width:100%;
	padding-bottom:80px;
}
#about_part1 img{
	position: relative;
}
#about_part1 h3{
	position: relative;
	margin-bottom:20px;
	font: normal 20px/25px Open Sans;
	color: #464646;
	display:inline-block;
	margin-top:0;
	font-weight:300;
	padding-left:2%;
	letter-spacing:0.2;
}
#about_part1 p{
	position: relative;
	margin-bottom: 20px;
	display:inline-block;
	margin-top:0;
	font-weight:300;
	padding-left:2%;
	letter-spacing:0.2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #bab9b9;
	height:55px;
	overflow:hidden;
	-webkit-transition:all ease .3s;
}
#about_text{
	padding-right:10px;
}
#about_part1 a{
	position:relative;
	margin:0
}
#more_about{
	position:absolute;
	top:0;
}
#more_info_about{
	position:relative;
	width:90%;
	padding-left:2%;
	height: 100px;
	right: 46px
}
#more_info_about1{
	position:relative;
	width:90%;
	padding-left:2%;
	height: 100px;
}
/***********************************/
#work_team_container{
        position: relative;
	background: #ececec;
	width:100%;
	padding-top:50px;
	overflow:auto;
}
#work_team{
    overflow: hidden;
	margin-bottom: 40px;
	-webkit-transition: all 0.8s ease;
}
.work_team{
	width:24%;
	margin-left:1.3%;
	margin-top:40px;
	margin-bottom:55px;
}
.workers_info{
	background-color: #fff;
	padding: 5px;
	padding-top: 35px;
}
.about_worker{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #bab9b9;
	letter-spacing:0.2;
	line-height:24px;
}
.worker_name{
	color: #48474d;
	text-decoration: none;
	font-weight: 300;
	font: normal 12px/18px Open Sans;
	font-size: 15px;
	-webkit-transition:all ease .3s;
}
.worker_name:hover{
	color:#4FC55A;;
}
/**********footer*************/
#footer_container{
    position: relative;
    width: 100%;
    overflow: auto;
    height: 100%;
    background-image: url(../img/footer_pic.jpg);
    background-size: 100% 100%;
    padding: 157px 0 78px 0;
}
#footer_text{
	font: normal 18px/18px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    padding: 0 0 45px;
	text-align:center;
}
#footer_text:before{
	position: absolute;
    display: block;
    font: 30px/1em FontAwesome;
    color: #4FC55A;
    top: -69px;
    left:50%;
    margin-left:-18px;
    z-index: 50;
    content:"\f003";
}
#footer_text:after{
	position: absolute;
    display: block;
	content:url(../img/logo_footer.png);
	z-index:52;
	left:50%;
	margin-left:-49px;
	top:100px
}
#contacts{
	text-align:center;
	margin-top:200px;
	color:#fff;
}
#map {
        height: 500px;
      }	
#private{
	color:#9fa6ae;
	text-decoration:none;
	-webkit-transition:all 0.2s;
}
#private:hover{
	color:#4FC55A;
}
.social{
	display:inline-block;
	border-radius:500px;
	background-color:#464646;
	width: 35px;
        height: 35px;
	margin-top:20px;
	margin-left:5px;
	cursor:pointer;
	-webkit-transition:all 0.5s;
}
#fb:before{
	content: "\f09a";
	font: 18px/35px FontAwesome;
    color: #fff;
}
#rss:before{
	content: "\f09e";
	font: 18px/35px FontAwesome;
    color: #fff;
}
#twitter:before{
	content: "\f099";
	font: 18px/35px FontAwesome;
    color: #fff;
}
#google:before{
	content: "\f0d5";
	font: 18px/35px FontAwesome;
    color: #fff;
}
.social:hover{
	background-color:#4FC55A;
	transform:scale(1.2);
}
.soc_name{
	display:none;
	position:absolute;
	top:-45px;
	left:-5px;
	text-align:center;
	background-color:#000;
	padding:8px 6px;
	font-size:10px;
	border-radius:3px;
	opacity:0;
        visibility: hidden;
	-webkit-transition:all .5s;
        transition:all .5s;
}
.soc_hover{
	/*border:1px solid green;*/
	position:relative;
}
.soc_hover:hover .soc_name{
	display:block;
	opacity:0.8;
        visibility: visible;
}
/****************/
.auto_height{
	height:auto !important;
}
#dots{
	position:absolute;
	right:5px;
	bottom:5px;
}
#show_more{
	position:absolute;
	top:0;
        right: 0;
        cursor: pointer
}
div.cikl div:first-child {
    margin-left: 0;
}
#loading{
    position: absolute;
    width: 28px;
    right: 48%;
    z-index: 86;
    top: 10px;
    display: none;
}
/**********CONTACTS************/
#contact_info{
    width: 100%;
    height: 480px;    
}
#contact_info h5{
    font: normal 12px/18px Open Sans;
    color: #464646;
}
#contact_info p{  
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 300;
    letter-spacing: 0.2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #bab9b9;
}
address{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #bab9b9;
    display: block;
    margin-bottom: 24px;
    font-style: normal;
}
address a{
    text-decoration: none;
    color: #bab9b9;
    transition: all 0.4s ease;
}
address a:hover{
    color: #4FC55A;
}
#contact_info form{
    margin-top: 20px
}
#contact_info input, textarea{
    padding: 6px 14px 7px 14px;
    font: normal normal normal 14px/normal Arial;
    color: #bab9b9;
    font-weight:300;
    border: 1px solid #ececec;
    width: 31.58%;
    margin-right: 1.2%;
    margin-bottom: 15px
}
#contact_info textarea{
    width: 98.4%; 
    height: 165px;
}
#contact_info input[type="reset"],input[type="submit"]{
    background: #4FC55A !important;
    padding: 14px 21px !important;
    font: 600 15px/20px 'Open Sans', sans-serif !important;
    width: auto !important;
    color: #fff !important;
    text-transform: uppercase;
    transition: all 0.3s ease;   
}
#msg_name{
    margin-top: 25px;
}
#worning{
    margin: 20px;
    padding: 8px 35px 8px 14px !important;
    display: inline-block;
}
.worning_ok{
    background: #DFF0D8 !important;
    border: 1px solid #DDD !important;
    color: #468847 !important;
}
.worning_error{
    background-color: #F2DEDE !important;
    border-color: #DDD !important;
    color: #B94A48 !important;
}
/*************works**************/
.cat_elem{
    width: 32.3%;
    height: 546px;
    color: #bab9b9;
    text-align: left;
    margin-bottom: 15px
}
.cat_elem:not(:nth-child(3n-2)){
    margin-left: 1%;
}
.work_img_div{
    height: 238px;
    overflow: hidden;
    -webkit-transition: all 0.8s ease;
}
.cat_elem p{
    margin: 0px 32px 31px 32px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.cat_elem h3{
    color: #4FC55A;
    font: 600 20px/24px 'Open Sans', sans-serif !important;
    margin: 30px 32px 13px 32px;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.cat_elem h3:hover{
    color: #48474d;
}
.work_texts{
    width: 100%;
    height: 228px;
    background: #ececec;
    padding-top: 11px;
    padding-bottom: 30px;
	overflow: hidden;
}
.more_works{
    position:absolute;
    top:0;
    left: 45px;
    cursor: pointer
}
#paging{
    width: 100%;
    padding: 15px 45%;
    overflow: auto
}
#paging span{
    float: left;
    padding: 4px 12px;
    line-height: 24px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #48474d;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
#paging span:hover{
    background-color: #f5f5f5;
    color: #4FC55A
}
#current_page{
    background-color: #f5f5f5;
    color: #4FC55A !important;
}
#current_category{
    color: #4FC55A !important;
}
.no_padding{
	padding:0;
}
.lang_section{
    position: relative;
}
.lang_select {
	float: right;
	padding-right: 13px;
	padding-left: 10px;
	color: #000000;
	margin: 5px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	line-height: 30px;
	overflow: hidden;
	background-color: #ececec;
	border: none;
	height: 45px;
	box-shadow: none;
	font-size: 18px;
	font-family: 'Open Sans';
}
.lang_select:focus {
	outline: none;
}
.lang_select option {
	font-size: 18px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
}

/****  MEDIA  ****/

/*middle*/
@media only screen and (max-width: 1250px) {
    .modern_title{
        font-size: 30px;
    }
    .modern h3{
        font: 300 18px/25px 'Open Sans', sans-serif;
    }
    #slide_title{
        font-size:50px;
    }
}

@media only screen and (max-width: 992px) {
	.round_imgs{
		height: 36vw;
	}
}

@media only screen and (max-width: 1020px) {
    .modern_title{
        font-size: 22px;
    }
    .modern h3{
        font: 300 16px/25px 'Open Sans', sans-serif;
    }
    #slide_title{
        font-size:46px;
    }
    #second h1{
        font-size: 46px;
    }
	#menu_all{
		display: none;
	}
    .navbar-default{
        display: block;
    }
    .navbar-default .navbar-toggle{
        display: block;
    }
}
/*small*/
@media only screen and (max-width: 765px) {
    .modern_title{
        font-size: 30px;
    }
    .modern h3{
        font: 300 18px/25px 'Open Sans', sans-serif;
    }
    .modern_img1 {
        height: 170px;
    }
    #slide_title{
        font-size:40px;
    }
    #second h1{
        font-size: 40px;
    }
	#menu_all{
		display: none;
	}
    .navbar-default{
        display: block;
    }
    .navbar-default .navbar-toggle{
        display: block;
    }
}
